h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin: 0;
  padding: 20px;
}


#grid ol{
  border-right: 1px solid gray;
  width: 150px;
  margin: 0;
  padding: 20px;
  padding-right: 10px;
}

#grid{
  display: grid;
  grid-template-columns: 200px 1fr;
}

#article{
  padding-left: 20px;
}

@media(max-width:800px){
 #grid{
   display: block;
 }
